<!DOCTYPE html>

<html> 
    <head> 
        <meta name="viewport" content="width=device-width" /> 
        <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" /> 
        <link rel="stylesheet" asp-href-include="/lib/fontawesome/css/*.css" />
        <title>Event Booking System</title> 
    </head> 
    <body> 
        <div class="navbar navbar-inverse" role="navigation"> 
            <a class="navbar-brand" href="#">Event Booking System</a> 
            @if (User.Identity.IsAuthenticated == false) {
                <a asp-controller="Account" asp-action="Login" class="navbar-brand pull-right" >Login</a> 
            } else {
                <a asp-controller="Account" asp-action="Logout" class="navbar-brand pull-right" >Logout</a>
                <a class="navbar-brand pull-right" asp-controller="User" asp-action="CreatedEvents">Created Event</a>
                <a class="navbar-brand pull-right" asp-controller="User" asp-action="Participated">Participations</a>
            }
        </div> 
        <div class="row panel"> 
            <div id="categories" class="col-xs-3"> 
                @await Component.InvokeAsync("NavigationMenu")
            </div> 
            <div class="col-xs-8"> @RenderBody() </div> 
        </div> 
    </body> 
</html>